* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ecf3f5;
    background-color:#14191e;
    animation:  fadeIn 2s ease-in-out;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter_18pt-Regular.ttf");
}

@font-face {
    font-family: "Inter-Italic";
    src: url("../fonts/Inter/Inter_18pt-Italic.ttf");
}

@font-face {
    font-family: "Inter-Bold";
    src: url("../fonts/Inter/Inter_18pt-Bold.ttf");
}

/* style général du portfolio */

h1, h2, h3, h4 {
    font-family: "Nunito";
}

h1, h2, h4 {
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

p, strong {
   font-family: "Inter";
   font-size: 12px;
}

.fa-linkedin,
.fa-github, 
.fa-php, 
.fa-js, 
.fa-python, 
.fa-html5, 
.fa-css3-alt, 
.fa-symfony,
.icone_codeIgniter, 
.fa-react,
.icone_mysql,
.icone_jquery,
.fa-bootstrap,
.fa-wordpress
{
    margin: 0 auto;
    color: #a3cbd7;
    font-size: xx-large;
}

.icone_codeIgniter, .icone_mysql, .icone_jquery {
    width: 30px;
}

.titre-icone-php, 
.titre-icone-js, 
.titre-icone-python, 
.titre-icone-html5,
.titre-icone-css3, 
.titre-icone-symfony,
.titre-icone-codeIgniter,
.titre-icone-react,
.titre-icone-mysql,
.titre-ico
{
    margin: 5%;
    text-align: center;
}

header, footer {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

header, .menu, footer {
    background-color: #0a1113;
    border: solid 1px #ecf3f5;
}

.conteneur-navbar, .conteneur-footer {
    background-color: #0a1113;
    border: solid 1px #ecf3f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes curseur {
    0%{opacity: 0}
    50%{opacity: 1}
    100%{opacity: 0}

}

.relative {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.identite, .profession {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.curseur1, .curseur2 {
    margin-top: 3%;
    width: 3px;
    height: 60px;
    background-color: #ecf3f5;
    animation: curseur 2s ease infinite;
}

.curseur2 {
    height: 40px;
}

.a-propos, .projets {
    padding: 4rem 0 0;
}

.a-propos, .technologies, .projets, .contact, .projet{
    width: 100%;
    background-color: #14191e;
    margin-bottom: 5%;
}

.titre-a-propos, .titre-projet {
    margin-top: 10%;
    margin-bottom: 5%;
}

.btn-contact, .btn-savoir-plus, .btn-envoyer, .btn-cv, .btn-github {
    padding: 15px;
    border-radius: 4px;
    background-color: #a3cbd7;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    color: #0a1113;
    font-family: "Inter";
} 

.btn-contact, .btn-envoyer, .btn-github {
    width: 150px;
}

.fa-circle-plus, .fa-github.icone_btn_github {
    color:#0a1113;
}


/* header - version mobile */

header {
    position: fixed;
    z-index: 1000;
}

.conteneur-logo {
    margin: 1%;
}

.logo {
    width: 50px;
}

.menu-icone {
    display: block;
}

.menu-desktop {
    display: none;
}

.menu-icone {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 1%;
}

.menu-hidden {
    display: none;
}

.menu-active {
    display: block;
}

.menu-icon .fa-solid  {
    font-size: large;
    color: #a3cbd7;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    padding: 1%;
}

.menu a {
    font-size: 1rem;
    margin: 1%;
}

.menu a:hover {
    color:#a3cbd7;
}

a {
    text-decoration: none;
    font-family: 'Inter';
    color: #ecf3f5;
}

/* section accueil - version mobile */

.fond-accueil {
    background-image: 
    url("../img/fond/image_fond_mobile_couleur.png");
    position: relative;
    top: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.contenu-accueil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15rem 0 15rem 0;
    text-align: center;
}

.identite {
    font-size: 2.5rem;
}

.profession {
    margin-top: 5%;
}

.reseaux-sociaux {
    margin-top: 2%;
}

.fa-linkedin, .fa-github {
    margin: 2%;
}

.contenu-btn-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.fa-envelope {
    font-size: 20px;
}

.scroll-bas {
    position: relative;
}

/* animation flèche qui bouge de haut en bas */

@keyframes flecheSubtile {
    0%, 100% {
        transform: translateY(0);
        opacity: 0.5;
    }

    50% {
        transform: translateY(8px);
        opacity: 1;
    }
}

.btn-scroll-bas {
    position: absolute;
    background-position: center;
    top: 0;
    left: 20vh;
    right: 20vh;
}

svg.img-btn-scroll-bas{
   height: 55px;
   width: 55px;
}

.ellipse, line, polyline {
    fill: none;
    stroke-width: 2;
}

.ellipse {
   stroke: #a3cbd7;
   stroke-linecap: round;
}


line, polyline {
    stroke: #a3cbd7;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: flecheSubtile 1.8s ease-in-out infinite;
}

/* contenu a propos de moi - version mobile */

.contenu-a-propos-img {
    text-align: center;
}

.titre-poste, .para-a-propos, .devise {
    text-align: left;
    margin: 5%;
}

.contenu-photo {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.photo-maylis{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    outline: none;
    border-radius: 50%;
    border: 2px solid #ecf3f5;
}

.contenu-a-propos {
    width: 100%;
}

.devise {
    font-family: "Inter-Italic";
    font-size: 12px;
}

/* contenu technologies - version mobile */

.technologies {
    padding: 2rem 0 0;
}

.titre-technologies, 
.titre-programmation, 
.titre-developpement, 
.titre-bdd, 
.titre-librairies,
.titre-cms 
{
    text-align: center;
    margin: 5%;
}

.contenu-icone-program, 
.contenu-icone-dev, 
.contenu-icone-bdd,
.contenu-icone-libs,
.contenu-icone-cms
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
}

.contenu-icone-php, 
.contenu-icone-js, 
.contenu-icone-python, 
.contenu-icone-html5, 
.contenu-icone-css3, 
.contenu-icone-symfony, 
.contenu-icone-codeIgniter,
.contenu-icone-react, 
.contenu-icone-mysql,
.contenu-icone-bootstrap,
.contenu-icone-jquery,
.contenu-icone-wordpress
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* contenu projets - version mobile */

.contenu-projets {
    width: 100%;
}

.card-gusto-coffee, .card-effreiFlix, .card-streamlit-LLM {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: solid 2px #ecf3f5;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 5%;
}

.photo-gusto-coffee, .photo-effreiFlix, .photo-streamlit-LLM{
    width: 100%;
}

.titre-projet {
    margin: 5%;
}

.para-gusto-coffee, .para-effreiFlix, .para-streamlit-LLM {
    margin: 5%;
}

.btn-savoir-plus {
    margin: 5%;
}

.fa-circle-plus {
    font-size: 14px;
}

/* contenu contact - version mobile */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 5rem 0 0;
}

.contenu-contact-form {
    width: 100%;
}

.description {
    text-wrap: wrap;
}

.description, .info {
    text-align: center;
    font-size: 14px;
    margin: 4%;
}

.info {
    font-size: 12px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 250px;
}

.form, .contenu-mailto, .contenu-cv {
    margin: 0 auto;
    border-radius: 5px;
    border: solid 2px #ecf3f5;
}

.contenu-form {
    margin: 0 auto;
    padding: 1.8rem;
}

.contenu-btn-form {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

input, .txt-message {
    border-radius: 4px;
    border: none;
    padding: 2%;
    width: 190px;
}

label, input, .txt-message, .btn-envoyer, .lien-mail, .btn-cv {
    font-family: "Inter";
    font-size: 12px;
}

label, input, .txt-message, .btn-envoyer {
    margin: 3%;
}

.btn-envoyer {
    width: 190px;
    border: none;
}

.info-moyen-contact {
    margin: 5%;
}

.contenu-mailto {
    margin-bottom: 5%;
}

.mail {
   padding: 2.4rem;
}

.lien-mail:hover {
    color: #a3cbd7;
}

.contenu-cv {
    margin-bottom: 10%;
}

.contenu-btn-cv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2.6rem;
}

.intitule-cv {
    margin: 5%;
}

/* boutton de scroll pour aller en haut du portfolio */

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.conteneur-scroll-haut {
    position: fixed;
    bottom: 10%;
    right: 0;
    animation: flecheSubtile 1.8s ease-in-out infinite;
}

.invisible {
    opacity: 0;
}

.visible {
    animation:  fadeIn 1s ease-in-out;
}

.bouton-scroll {
    width:35px; 
    height:45px;
}

/* footer - version mobile */

.copyright {
    margin: 0 auto;
    text-align: center;
}

.conteneur-reseaux-sociaux {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.titre-contenu-reseaux {
    margin-bottom: 5%;
}

.footer-reseaux-sociaux {
    display: flex;
    flex-direction: row;
}

.icone-linkedin, .icone_github {
    font-size: 22px;
}

/* projet - version mobile */

.projet {
    display: flex;
    flex-direction: column;
    padding: 6rem 0 0;
}

.contenus-projet {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contenu-img-projet, .contenus-projet, .contenu-pg-projet, .contenu-techno {
    width: 250px;
    margin-top: 8%;
}

.img-projet {
    width: 100%;
}

.contenu-pg-projet, .contenu-btn-github, .contenu-techno, .contenu-techno > h3 {
    margin-bottom: 5%;
}

.contenu-techno > h3 {
    margin-top: 10%;
}

.fa-github.icone_btn_github {
    color:#0a1113;
    font-size: 20px;
}

.contenu-icones-techno {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenu-el-icones {
    width: 25%;
}

.titre-icones {
    margin-left: 12%;
}

.titre-ico, .titre-ico-symfony, .titre-ico-js, .titre-ico-mysql {
    margin-left: 6%;
}

.titre-ico-mysql{
    margin-top: 3.5%;
}

.fa-symfony.ico-symfony, .fa-css3-alt.icon-css, .fa-js.ico-js, .ico_mysql {
    width: 35px;
}

.btn-scroll-projet {
        display: none;
}


/* portfolio - version mobile large */
@media (max-width: 425px) {

    .profession {
        margin-top: 10%;
    }

    .fa-linkedin, .fa-github {
        margin-top: 10%;
    }

    .btn-contact {
       margin-top: 3%;
       margin-bottom: 4%;
    }

    .description {
        text-wrap: wrap;
    }


    .btn-scroll-bas {
        top: 1vh;
    }

    .img-btn-scroll-bas {
        width: 40%;
        height: 40%;
    }

    .contenu-icones {
        margin-left: 8%;
        margin-top: 4%;
    }

    /* Projet  */

    .contenu-pg-projet {
        margin-bottom: 5%;
    }
}


/* portfolio - version tablette */

@media (min-width: 768px) {

    /* style general */

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    .logo {
        width: 50%;
    }

    .card-gusto-coffee, .card-effreiFlix, .card-streamlit-LLM, .form, .contenu-mailto,  .contenu-cv{
        width: 400px;
    }

    label, input, .btn-envoyer, .btn-cv {
        font-size: 1rem;
    }


    /* header */

    .menu-icon {
        font-size: 100%;
    }

    .fa-bars, .fa-xmark {
        font-size: 1.5rem;
    }

    .menu>a{
        font-size: 1.3rem;
    }


    /* section accueil */

    .fond-accueil {
        height: 950px;
        width: 100%;
    }

    .contenu-accueil {
        padding: 12rem 0 12rem 0;
    }

    .identite {
        font-size: 3rem;
    }

    .profession {
        font-size: 2.5rem;
        margin-top: 10%;
    }

   .fa-linkedin, .fa-github {
        font-size: 50px;
        margin-top: 5%;
    }

    .btn-contact {
        width: 220px;
        padding: 1rem;
        font-size: 20px;
    }

    .fa-envelope {
        font-size: 25px;
    }


    .btn-scroll-bas {
        top: 10vh;
    }

    svg.img-btn-scroll-bas {
        width: 80px;
        height: 80px;
    }

    /* section a propos de moi */

    .devise, p, strong {
        font-size: 1.2rem;
    }

    .contenu-photo {
        height: 200px;
        width: 200px;
    }

    /* contenu technologies */

    .fa-php, 
    .fa-js, 
    .fa-python, 
    .fa-html5, 
    .fa-css3-alt, 
    .fa-symfony,
    .fa-react,
    .icone_mysql,
    .icone_jquery,
    .fa-bootstrap,
    .fa-wordpress
    {
        font-size: 60px;
        margin-bottom: 10%;
    }

    .icone_codeIgniter, 
    .icone_mysql,
    .icone_jquery
    {
        width: 60px;
    }

    /* Projets */

    .card-gusto-coffee, .card-effreiFlix, .card-streamlit-LLM {
        width: 400px;
    }

    .btn-savoir-plus {
        width: 150px;
        font-size: 1rem;
    }

    /* Contact */

    .contact {
        padding: 8rem 0 0;
    }

    .description {
        text-wrap: wrap;
    }

    .description, .info {
        font-size: 1.4rem;
    }

    .contenu-form {
        margin: 0 auto;
        padding: 1.8rem;
    }

    .label, .input, .txt-message {
        margin-bottom: 5%;
    }

    .input, .txt-message {
        width: 300px;
    }

    .info-moyen-contact {
        text-align: center;
    }

    .mail {
        text-align: center;
    }

    .lien-mail {
        font-size: 1.2rem;
    }

    .btn-cv {
        width: 220px;
    }

    /* boutton de scroll vers le haut */
    .bouton-scroll {
        width: 60px;
        height: 60px;
    }

     .conteneur-scroll-haut {
        bottom: 15%;
        margin-right: 6%;
    }

    /* footer */
    .titre-reseaux
    {
        font-size: 1.2rem;
        text-align: center;
    }

    .icone-linkedin, .icone_github {
        font-size: 2rem;
    }

    /* copyright */

    .copyright {
        font-size: 1rem;
    }

    /* Projet  */

    .projet {
        padding: 9rem 0px 0px;
    }

    .contenu-img-projet, .contenus-projet, .contenu-pg-projet, .contenu-techno {
        width: 450px;
    }

    .contenu-btn-github {
        margin-top: 5%;
    }

    .btn-github {
        padding: 6%;
        font-size: 1rem;
    }

    .fa-github.icone_btn_github {
        font-size: 35px;
    }

    .fa-symfony.ico-symfony, .fa-css3-alt.icon-css, .fa-js.ico-js, .ico_mysql {
        width: 80px;
    }

}


/* portfolio - version ordinateur */

@media (min-width: 1024px) {

    /* style general */

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }

    .logo {
        width: 35%;
    }

    .card-gusto-coffee, .card-effreiFlix, .card-streamlit-LLM, .form, .contenu-mailto,  .contenu-cv{
        width: 400px;
    }

    label, input, .btn-envoyer, .btn-cv {
        font-size: 1rem;
    }


    /* header */

    .menu-icone .fa-bars {
        display: none;
    }

    .conteneur-navbar {
        border: none;
    }

    .menu-desktop {
        display: block;
        width: 35%;
    }

    .menu-principal>a {
        margin: 1%;
    }

    .menu-principal a:hover {
        color:#a3cbd7;
    }

    /* section accueil */

    .fond-accueil {
        height: 100%;
        width: 100%;
        background-image: url("../img/fond/image_fond_couleur.png");
        top: 0;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 1%;
    }

    .contenu-accueil {
        padding: 10rem 0 10rem 0;
    }

    .identite {
        font-size: 3rem;
        margin-top: 3%;
    }

    .profession {
        font-size: 2rem;
        margin-top: 3%;
    }
    

    .icone-accueil-linkedin, .icone-accueil-github {
        font-size: 50px;
        margin-top: 1%;
    }


    .contenu-btn-contact {
        margin-top: 1%;
        margin-bottom: 5%;
    }

    .btn-contact {
        width: 200px;
        padding: 1rem;
        margin-top: 1%;
        font-size: 14px;
    }

    .fa-envelope {
        font-size: 15px;
    }


    .btn-scroll-bas {
        top: 0;
    }

    .img-btn-scroll-bas {
        width: 5%;
        height: 5%;
    }


/* section a propos */

    .contenus-a-propos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .contenu-a-propos-img {
        margin-top: 5%;
        width: 10%;
    }

    .contenu-a-propos {
        width: 60%;
    }

    .titre-poste {
        font-size: 1.6rem;
    }

/* section technologies */

    .contenus-prog-dev, .contenus-bdd-lib-cms, .contenus-lib-cms {
        display: flex;
        flex-direction: row;
    }

    .contenus-bdd-lib-cms {
        justify-content: space-between;
    }

    .contenu-programmation {
        width: 55%;
    }

    .contenu-developpement {
        width: 45%;
    }

    .contenu-base-de-donnee {
        width: 40%;
    }

    .contenus-lib-cms {
        width: 50%;
    }

    .contenu-librairies, .contenu-cms {
        width: 50%;
    }


/* section projets */

    .contenu-projets {
        display: flex;
        flex-direction: row;
    }

/* section contact */

    .contenus-contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .info,  .info-moyen-contact {
        font-size: 1.3rem;
        text-align: center;
    }

    .info-moyen-contact {
        margin: 3.5%;
    }

    .contenu-contact-form {
        width: 40%;
    }
    
    .form {
        width: 100%;
    }

    .input, .txt-message {
       width: 340px; 
    }

    .txt-message {
        height: 200px;
    }

    .contenus-mc-cv {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    .contenu-mailto, .contenu-cv {
        width: 70%;
        margin-bottom: 5%;
    }
    

/*  btn de scroll vers le haut */

    .conteneur-scroll-haut {
        bottom: 25%;
        margin-right: 5%;
    }

/* footer */

footer {
    margin-top: 5%;
}

/* icones footer */

    .icone-linkedin, .icone-github {
        width: 30px;
    }

/* copyright */

    .copyright {
        font-size: 1rem;
    }

/* Projet */

    .projet {
        padding: 8rem 0 0;
    }

    .contenus-projet {
        flex-direction: row;
        justify-content: space-between;
    }

    .contenus-projet, .contenu-pg-projet, .contenu-techno {
        width: 100%;
    }

    .contenu-img-projet {
        width: 40%;
        margin: 3%;
    }

    .contenus-el-projet {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-right: 4%;
    }

    .btn-scroll-projet {
        display: none;
    }

    .btn-github {
        padding: 3%;
        font-size: 1rem;
    }

    .fa-github.icone_btn_github {
        font-size: 1.5rem;
        margin: 0;
        text-align: center;
    }

    .contenu-techno {
        margin: 0;
    }

    .contenu-techno > h3 {
        margin-top: 5%;
    }


}