* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202020;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter_18pt-Regular.ttf");
}

/* header - version mobile */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.conteneur-navbar {
    background-color: #000000;
    border: solid 1px #b5b0ac;
    display: flex;
    justify-content: space-between;
}

.conteneur-logo {
    margin: 1%;
}

.logo {
    width: 50px;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
}

.menu-hidden {
    display: none;
}

.menu-active {
    display: block;
}

.menu-icon .fa-solid  {
    font-size: large;
    color: #fefefe;
    opacity: 0.7;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    background-color: #000000;
    border: solid 1px #b5b0ac;
    padding: 1%;
}

.menu a {
    text-decoration: none;
    font-family: 'Inter';
    color: #fefefe;
    font-size: 1rem;
    margin: 1%;
}

.menu a:hover {
   opacity: 0.6;
}

/* section accueil - version mobile */

.accueil {
    color: #fefefe;
}

.fond-accueil {
    background-image: 
    url("../img/fond/image_fond_version_mobile.png");
    position: relative;
    top: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.contenu-accueil {
    padding: 10rem 0 10rem 0;
    margin: 0 auto;
    text-align: center;
}

.identite, h2{
    font-family: "Nunito";
    font-size: 2.5rem;
    color: #fefefe;
}

.profession {
    margin: 4%;
    font-size: 1.5rem;
}

.fa-linkedin, .fa-github {
    margin: 2%;
    color: #b5b0ac;
    font-size: xx-large;
}

.contact {
    display: flex;
    justify-content: center;
    margin: 4%;
}

.btn-contact {
    width: 200px;
    padding: 20px;
    border-radius: 4px;
    background-color: #b5b0ac;
    text-decoration: none;
    font-size: 14px;
    color:#fefefe;
    font-family: "Inter";
}

.fa-envelope {
    color:#fefefe;
    font-size: 20px;
}

.scroll-bas {
    margin-top: 5%;
}

/* contenu a propos de moi - version mobile */

.a-propos {
    background-color: #202020;
    width: 100%;
    padding: 8rem;
}

.contenu-a-propos>h2 {
    text-align: center;
    color: #fefefe;
}
