* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202020;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter_18pt-Regular.ttf");
}

@font-face {
    font-family: "Inter-Italic";
    src: url("../fonts/Inter/Inter_18pt-Italic.ttf");
}

@font-face {
    font-family: "Inter-Bold";
    src: url("../fonts/Inter/Inter_18pt-Bold.ttf");
}

/* style général du portfolio */

h1, h2, h3, h4 {
    font-family: "Nunito";
    color: #fefefe;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

p, strong {
   font-family: "Inter";
   font-size: 12px;
}

.fa-linkedin, .fa-github, .fa-php, .fa-js, .fa-python {
    margin: 0 auto;
    color: #b5b0ac;
    font-size: xx-large;
}

.titre-icone-php, .titre-icone-js, .titre-icone-python {
    text-align: center;
}

/* header - version mobile */

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.conteneur-navbar {
    background-color: #000000;
    border: solid 1px #b5b0ac;
    display: flex;
    justify-content: space-between;
}

.conteneur-logo {
    margin: 1%;
}

.logo {
    width: 50px;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
}

.menu-hidden {
    display: none;
}

.menu-active {
    display: block;
}

.menu-icon .fa-solid  {
    font-size: large;
    color: #fefefe;
    opacity: 0.7;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    background-color: #000000;
    border: solid 1px #b5b0ac;
    padding: 1%;
}

.menu a {
    text-decoration: none;
    font-family: 'Inter';
    color: #fefefe;
    font-size: 1rem;
    margin: 1%;
}

.menu a:hover {
   opacity: 0.6;
}

/* section accueil - version mobile */

.accueil {
    color: #fefefe;
}

.fond-accueil {
    background-image: 
    url("../img/fond/image_fond_version_mobile.png");
    position: relative;
    top: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.contenu-accueil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15rem 0 15rem 0;
    text-align: center;
}

.identite {
    font-size: 2.5rem;
}

.profession {
    margin-top: 5%;
}

.reseaux-sociaux {
    margin-top: 5%;
}

.fa-linkedin, .fa-github {
    margin: 2%;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-contact {
    width: 180px;
    padding: 15px;
    border-radius: 4px;
    background-color: #b5b0ac;
    text-decoration: none;
    font-size: 14px;
    color:#fefefe;
    font-family: "Inter";
}

.fa-envelope {
    color:#fefefe;
    font-size: 20px;
}

.scroll-bas {
    position: relative;
}

.btn-scroll-bas {
    position: absolute;
    background-position: center;
    top: 18vh;
    left: 20vh;
    right: 20vh;
}

/* contenu a propos de moi - version mobile */

.a-propos {
    background-color: #202020;
    width: 100%;
    padding: 2rem 0 0;
    margin-bottom: 5%;
    color:#fefefe;
}

.contenu-a-propos-img {
    text-align: center;
}

.titre-a-propos {
    margin-top: 10%;
    margin-bottom: 5%;
}

.titre-poste, .para-a-propos, .devise {
    text-align: left;
    margin: 5%;
}

.contenu-photo {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.photo-maylis{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    outline: none;
    border-radius: 50%;
}

.contenu-a-propos {
    width: 100%;
}

.devise {
    font-family: "Inter-Italic";
    font-size: 12px;
}

/* contenu technologies - version mobile */
.technologies {
    background-color: #202020;
    width: 100%;
    padding: 2rem 0 0;
    margin-bottom: 5%;
    color:#fefefe;
}

/* .contenu-technologies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.titre-technologies, .titre-programmation, .titre-developpement, .titre-bdd, .titre-librairies  {
    text-align: center;
    margin: 5%;
}

.contenu-icone-program {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
}

.contenu-icone-php, .contenu-icone-js, .contenu-icone-python {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
