* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ecf3f5;
    background-color:#14191e
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter_18pt-Regular.ttf");
}

@font-face {
    font-family: "Inter-Italic";
    src: url("../fonts/Inter/Inter_18pt-Italic.ttf");
}

@font-face {
    font-family: "Inter-Bold";
    src: url("../fonts/Inter/Inter_18pt-Bold.ttf");
}

/* style général du portfolio */

h1, h2, h3, h4 {
    font-family: "Nunito";
}

h1, h2, h4 {
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

p, strong {
   font-family: "Inter";
   font-size: 12px;
}

.fa-linkedin, 
.fa-github, 
.fa-php, 
.fa-js, 
.fa-python, 
.fa-html5, 
.fa-css3-alt, 
.fa-symfony,
.icone_codeIgniter, 
.fa-react,
.icone_mysql,
.icone_jquery,
.fa-bootstrap,
.fa-wordpress
{
    margin: 0 auto;
    color: #a3cbd7;
    font-size: xx-large;
}

.icone_codeIgniter, .icone_mysql, .icone_jquery {
    width: 30px;
}

.titre-icone-php, 
.titre-icone-js, 
.titre-icone-python, 
.titre-icone-hml5, 
.titre-icone-css3, 
.titre-icone-symfony,
.titre-icone-codeIgniter,
.titre-icone-react,
.titre-icone-mysql
{
    margin: 5%;
    text-align: center;
}

header, footer {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

header, .menu, footer {
    background-color: #0a1113;
    border: solid 1px #ecf3f5;
}

.conteneur-navbar, .conteneur-footer {
    background-color: #0a1113;
    border: solid 1px #ecf3f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-propos, .projets {
    padding: 4rem 0 0;
}

.a-propos, .technologies, .projets, .contact {
    width: 100%;
    background-color: #14191e;
    margin-bottom: 5%;
}

.titre-a-propos, .titre-projet {
    margin-top: 10%;
    margin-bottom: 5%;
}

.btn-contact, .btn-savoir-plus, .btn-envoyer, .btn-cv {
    padding: 15px;
    border-radius: 4px;
    background-color: #a3cbd7;
    text-decoration: none;
    font-size: 12px;
    color: #0a1113;
    font-family: "Inter";
} 

.btn-contact, .btn-envoyer {
    width: 200px;
}


/* header - version mobile */

header {
    position: fixed;
    z-index: 1000;
}

.conteneur-logo {
    margin: 1%;
}

.logo {
    width: 50px;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
}

.menu-hidden {
    display: none;
}

.menu-active {
    display: block;
}

.menu-icon .fa-solid  {
    font-size: large;
    color: #a3cbd7;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    padding: 1%;
}

.menu a {
    font-size: 1rem;
    margin: 1%;
}

.menu a:hover {
    color:#a3cbd7;
}

a {
    text-decoration: none;
    font-family: 'Inter';
    color: #ecf3f5;
}

/* section accueil - version mobile */

.fond-accueil {
    background-image: 
    url("../img/fond/image_fond_mobile_couleur.png");
    position: relative;
    top: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.contenu-accueil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15rem 0 15rem 0;
    text-align: center;
}

.identite {
    font-size: 2.5rem;
}

.profession {
    margin-top: 5%;
}

.reseaux-sociaux {
    margin-top: 5%;
}

.fa-linkedin, .fa-github {
    margin: 2%;
}

.contenu-btn-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.fa-envelope {
    font-size: 20px;
}

.scroll-bas {
    position: relative;
}

@keyframes flecheSubtile {
    0%, 100% {
        transform: translateY(0);
        opacity: 0.5;
    }

    50% {
        transform: translateY(8px);
        opacity: 1;
    }
}

.btn-scroll-bas {
    position: absolute;
    background-position: center;
    top: 12vh;
    left: 20vh;
    right: 20vh;
}

.ellipse, line, polyline {
    fill: none;
    stroke-width: 2;
}

.ellipse {
   stroke: #a3cbd7;
   stroke-linecap: round;
}


line, polyline {
    stroke: #a3cbd7;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: flecheSubtile 1.8s ease-in-out infinite;
}

/* contenu a propos de moi - version mobile */

.contenu-a-propos-img {
    text-align: center;
}

.titre-poste, .para-a-propos, .devise {
    text-align: left;
    margin: 5%;
}

.contenu-photo {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.photo-maylis{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    outline: none;
    border-radius: 50%;
}

.contenu-a-propos {
    width: 100%;
}

.devise {
    font-family: "Inter-Italic";
    font-size: 12px;
}

/* contenu technologies - version mobile */

.technologies {
    padding: 2rem 0 0;
}

.titre-technologies, 
.titre-programmation, 
.titre-developpement, 
.titre-bdd, 
.titre-librairies,
.titre-cms 
{
    text-align: center;
    margin: 5%;
}

.contenu-icone-program, 
.contenu-icone-dev, 
.contenu-icone-bdd,
.contenu-icone-libs,
.contenu-icone-cms
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
}

.contenu-icone-php, 
.contenu-icone-js, 
.contenu-icone-python, 
.contenu-icone-html5, 
.contenu-icone-css3, 
.contenu-icone-symfony, 
.contenu-icone-codeIgniter,
.contenu-icone-react, 
.contenu-icone-mysql,
.contenu-icone-bootstrap,
.contenu-icone-jquery,
.contenu-icone-wordpress
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* contenu projets - version mobile */

.contenu-projets {
    width: 100%;
}

.card-gusto-coffee, .card-effreiFlix, .card-streamlit-LLM {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: solid 2px #ecf3f5;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 5%;
}

.photo-gusto-coffee, .photo-effreiFlix, .photo-streamlit-LLM{
    width: 100%;
}

.titre-projet {
    margin: 5%;
}

.para-gusto-coffee, .para-effreiFlix, .para-streamlit-LLM {
    margin: 5%;
}

.btn-savoir-plus {
    margin: 5%;
}

.fa-circle-plus {
    font-size: 14px;
}

/* contenu contact - version mobile */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1.5rem;
}

.contenu-contact-form {
    width: 100%;
}

.description, .info {
    text-align: center;
    font-size: 14px;
    margin: 4%;
}

.info {
    font-size: 12px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.contenu-form, .contenu-mailto, .contenu-cv {
    margin: 0 auto;
    border-radius: 5px;
    border: solid 2px #ecf3f5;
}

.contenu-form {
    padding: 1.4rem;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.champs-contact {
    width: 100%;
    margin: 0 auto;
}

input, .txt-message {
    border-radius: 4px;
    border: none;
    padding: 2%;
    width: 190px;
}

.contenu-btn-form {
    display: flex;
    justify-content: center;
}

label, input, .txt-message, .btn-envoyer, .lien-mail, .btn-cv {
    font-family: "Inter";
    font-size: 12px;
}

label, input, .txt-message, .btn-envoyer {
    margin: 3%;
}

.btn-envoyer {
    border: none;
}

.info-moyen-contact {
    margin: 5%;
}

.contenu-mailto {
    margin-bottom: 5%;
}

.mail {
   padding: 2.4rem;
}

.contenu-btn-cv {
    padding: 2.6rem;
}

.intitule-cv {
    margin: 5%;
}

/* boutton de scroll pour aller en haut du portfolio */

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.conteneur-scroll-haut {
    position: fixed;
    bottom: 10%;
    right: 0;
}

.invisible {
    opacity: 0;
}

.visible {
    animation:  fadeIn 1s ease-in-out;
}

/* footer - version mobile */

footer {
    margin-top: 20%;
}

.copyright {
    margin: 0 auto;
    text-align: center;
}

.conteneur-reseaux-sociaux {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.titre-contenu-reseaux {
    margin-bottom: 5%;
}

.footer-reseaux-sociaux {
    display: flex;
    flex-direction: row;
}

.icone-linkedin, .icone_github {
    font-size: medium;
}